/* Comment */
.comment-view-replies a {
	color: #0588fc !important;
}

.comment-view-replies a:hover {
	color: #0588fc !important;
	text-decoration: none;
}

.like-button:hover {
	color: #666666 !important;
}

.no-dec:hover {
	text-decoration: none;
}

/* Profile pic */

.pfp {
	border-radius: 50%;
}

.pfp-sm {
	height: 32px;
	width: 32px;
}

.pfp-lg {
	height: 64px;
	width: 64px;
}

/* make comment */

.comment-input {
	height: 20px;
}

/* video display */
#video-link {
	color: #000 !important;
}

#video-link:hover {
	text-decoration: none;
}

/* strikethrough icon */
#comments-disabled {
	position: relative;
}

#comments-ban {
	position: absolute;
	top: -8px;
	left: -8px;
	font-size: 200%;
	color: rgba(217, 83, 79, 0.9);
}

.user-container {
	padding: 15px;
}
