<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Tester</title>
  </head>
  <body>
    <h1>API Tester</h1>
    <ul>
      <li><a href="/auth/google">Sign In With Google</a></li>
      <li><a href="/user">View User</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/video?v=jNQXAC9IVRw">Video Data</a></li>
      <li><a href="/comment?v=jNQXAC9IVRw&t=Cool Video">Make Comment</a></li>
      <li>
        <a href="/editComment?id=5e98e6f6964b13111f6fd7fc&t=Awesome"
          >Edit Comment</a
        >
      </li>
      <li>
        <a href="/deleteComment?id=5e98e6f6964b13111f6fd7fc">Delete Comment</a>
      </li>
    </ul>
  </body>
</html>
