<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Tester</title>
  </head>
  <body>
    <h1>API Tester</h1>
    <a href="/auth/google">Sign In With Google</a><br />
    <a href="/user">View User</a><br />
    <a href="/logout">Logout</a><br />
    <a href="/video?v=28JHPOUZvDw">Video Data</a>
  </body>
</html>
